 .u-section-1 {
  background-image: url("images/5.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/cheerful-construction-worker-w-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  margin: 31px auto 0 0;
  padding: 17px 60px 18px 58px;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    min-height: 614px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 479px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 100px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-image-1 {
    min-height: 387px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 672px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1103px;
  margin: 66px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 566px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 50px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 25px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  margin: 40px auto 0 0;
  padding: 17px 60px 18px 58px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-2 .u-list-1 {
  width: 522px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 511px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 0 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 112px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 0 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 403px;
  min-height: 112px;
  height: auto;
  background-size: auto;
  margin: -60px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 0 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 403px;
  min-height: 112px;
  height: auto;
  background-size: auto;
  margin: -60px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-2 .u-list-1 {
    width: 418px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 308px;
  }

  .u-section-2 .u-group-1 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 530px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-group-1 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-group-2 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 11px;
  }

  .u-section-2 .u-group-3 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
  }
} .u-section-3 {
  min-height: 795px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/444.jpg");
  min-height: 428px;
  height: auto;
  background-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 120px 30px 30px;
}

.u-section-3 .u-text-1 {
  width: 593px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 882px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  height: auto;
  width: 1140px;
  margin: -169px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 456px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 292px;
  width: 292px;
  background-image: url("images/004.jpg");
  background-position: 50% 0%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 13px 0 8px;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 292px;
  width: 292px;
  background-image: url("images/sssmin.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 13px 0 8px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 292px;
  width: 292px;
  background-image: url("images/3389.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 13px 0 8px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 680px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-3 .u-text-2 {
    width: 880px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -183px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 248px;
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 248px;
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 248px;
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1183px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-3 .u-text-2 {
    width: 660px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 878px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1447px;
  }

  .u-section-3 .u-image-1 {
    background-size: 150%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: 520px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: -201px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1142px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 10.5px));
  min-height: 747px;
  grid-gap: 14px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/w.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/q.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-3 {
  background-image: url("images/3222.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-4 {
  background-image: url("images/33333.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-4 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-5 {
  background-image: url("images/ee211.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-5 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 20px 10px;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-6 {
  background-image: url("images/err.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-6 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 20px 10px;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-7 {
  background-image: url("images/4213.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-7 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-14 {
  padding: 20px 10px;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-15 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-8 {
  background-image: url("images/33214.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-8 {
  min-height: 108px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-16 {
  padding: 20px 10px;
}

.u-section-4 .u-text-16 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-17 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-4 .u-text-18 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 60px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 613px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7px));
    min-height: 1926px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1710px;
    grid-auto-columns: calc(50% - 7px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2892px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3677px;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 494px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-form-1 {
  height: 103px;
  width: 305px;
  margin: 21px auto 0;
}

.u-section-5 .u-input-1 {
  height: 62px;
}

.u-section-5 .u-btn-1 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  padding: 18px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-5 .u-form-1 {
    width: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-form-1 {
    height: 136px;
    width: 276px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-5 .u-form-1 {
    width: 335px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}